/angular/
/angular-aria/
/angular-bootstrap/
/angular-cache-buster/
/angular-cookies/
/angular-dynamic-locale/
/angular-i18n/
/angular-loading-bar/
/angular-local-storage/
/angular-mocks/
/angular-resource/
/angular-sanitize/
/angular-scenario/
/angular-translate/
/angular-translate-interpolation-messageformat/
/angular-translate-loader-partial/
/angular-translate-storage-cookie/
/angular-ui-router/
/arrive/
/bootstrap/
/bootstrap-material-design/
/bootstrap-sass/
/jquery/
/json3/
/messageformat/
/modernizr/
/ng-file-upload/
/ngInfiniteScroll/
/swagger-ui/
