<div>
    <h2 translate="craftApp.cr_systeme.home.title">Cr_systemes</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="cr_systeme.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
class="hidden-xs"                        translate="craftApp.cr_systeme.home.createLabel">Create new Cr_systeme
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" data-ng-model="system" data-typeahead="cr_systeme.sy_nom_fr_fr for cr_systeme in cr_systemes | filter:$viewValue" placeholder="{{ 'craftApp.cr_systeme.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="search()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
 <!-- zone de saisie déclenchant l'autocomplétion -->
<input type="text" data-ng-model="system" data-typeahead="cr_systeme.sy_nom_fr_fr for cr_systeme in cr_systemes | filter:$viewValue" />
       <!--  <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sy_nom_fr_fr"><span translate="craftApp.cr_systeme.sy_nom_fr_fr">Sy_nom_fr_fr</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cr_systeme in cr_systemes track by cr_systeme.id">
                    <td><a ui-sref="cr_systeme.detail({id:cr_systeme.id})">{{cr_systeme.id}}</a></td>
                    <td>{{cr_systeme.sy_nom_fr_fr}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="cr_systeme.detail({id:cr_systeme.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="cr_systeme.edit({id:cr_systeme.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="cr_systeme.delete({id:cr_systeme.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table> -->
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
